rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    function isDocOwner() {
      return isAuthenticated() && request.auth.uid == resource.data.userId;
    }

    // ===============================================================
    // Rules
    // ===============================================================

    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isOwner(userId);
    }

    match /curriculums/{curriculumId} {
      allow read: if isAuthenticated() && (resource.data.userId == request.auth.uid);
      allow create: if isAuthenticated() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
    }

    match /curriculumProgress/{curriculumId} {
      allow read: if isAuthenticated() && (
        (resource != null && resource.data.userId == request.auth.uid) ||
        get(/databases/$(database)/documents/curriculums/$(curriculumId)).data.userId == request.auth.uid
      );
      allow write: if isAuthenticated() && (
        (resource != null && resource.data.userId == request.auth.uid) ||
        get(/databases/$(database)/documents/curriculums/$(curriculumId)).data.userId == request.auth.uid
      );
    }

    match /progress/{userId} {
      allow read: if isAuthenticated();
      allow write: if isOwner(userId);
    }

    match /friends/{friendId} {
      allow read: if isAuthenticated() && (resource.data.userId1 == request.auth.uid || resource.data.userId2 == request.auth.uid);
      allow create: if isAuthenticated() && request.resource.data.userId1 == request.auth.uid && request.resource.data.status == 'pending' && request.resource.data.userId2 is string && request.resource.data.userId2 != request.auth.uid;
      allow update: if isAuthenticated() && (
        (resource.data.userId2 == request.auth.uid && request.resource.data.status == 'accepted' && request.resource.data.userId1 == resource.data.userId1 && request.resource.data.userId2 == resource.data.userId2 && request.resource.data.createdAt == resource.data.createdAt) ||
        (resource.data.userId1 == request.auth.uid && request.resource.data.status == 'cancelled' && request.resource.data.userId1 == resource.data.userId1 && request.resource.data.userId2 == resource.data.userId2 && request.resource.data.createdAt == resource.data.createdAt)
      );
      allow delete: if isAuthenticated() && (resource.data.userId1 == request.auth.uid || resource.data.userId2 == request.auth.uid);
    }
  }
}
